{% extends 'base.twig' %}
{% block body %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
          </thead>
          <tbody>
                          <tr>
                <td>14</td>
                <td>
                  <a href="/urls/14">
                    http://success.local                  </a>
                </td>
                <td>2025-05-10 22:18:39</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>15</td>
                <td>
                  <a href="/urls/15">
                    http://google.com                  </a>
                </td>
                <td>2025-05-11 02:03:53</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>16</td>
                <td>
                  <a href="/urls/16">
                    https://php-page-analyzer-ru.hexlet.app                  </a>
                </td>
                <td>2025-05-17 13:39:46</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>17</td>
                <td>
                  <a href="/urls/17">
                    https://google.com                  </a>
                </td>
                <td>2025-05-10 23:35:11</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>18</td>
                <td>
                  <a href="/urls/18">
                    http://fdsfd                  </a>
                </td>
                <td></td>
                <td></td>
              </tr>
                          <tr>
                <td>19</td>
                <td>
                  <a href="/urls/19">
                    http://fdfddddddddddddddddddddddddddddd                  </a>
                </td>
                <td></td>
                <td></td>
              </tr>
                          <tr>
                <td>20</td>
                <td>
                  <a href="/urls/20">
                    https://github.com                  </a>
                </td>
                <td>2025-05-11 15:01:47</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>21</td>
                <td>
                  <a href="/urls/21">
                    https://hellofromhexletstudent                  </a>
                </td>
                <td></td>
                <td></td>
              </tr>
                          <tr>
                <td>22</td>
                <td>
                  <a href="/urls/22">
                    https://laravel.su                  </a>
                </td>
                <td>2025-05-17 13:43:36</td>
                <td>200</td>
              </tr>
                          <tr>
                <td>23</td>
                <td>
                  <a href="/urls/23">
                    https://redbee.ru                  </a>
                </td>
                <td></td>
                <td></td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}